body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#brandTag
	{
		position: fixed;
		display: block;
		top: 0px;
		left: 30px;
		color: white;
		background-color: rgba(50, 50, 50, 0.5);
		z-index: 1000;
		text-align: center;
		padding: 12px 12px 12px 12px;
		font-size: 18px;
		font-family: "Helvetica", sans-serif;
		transition-property: color, background-color, padding;
		transition-duration: 0.3s;
	}

	#brandTag:hover
	{
		color: black;
		background-color: white;
		padding: 24px 12px 12px 12px;
	}

#biomeCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
}

#nebulaeCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
}

#sunCanvas {
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
}

/* Position the button VR on the bottom of the page. */
#ui {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Karla', sans-serif;
    z-index: 1;
}

a#magic-window {
    display: block;
    color: white;
    margin-top: 1em;
}

#loadingBarHolder {
  position: absolute;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;

  width: 25%;
  height: 10%;

  border: 1px solid #222222;
  padding: 20px;
  padding-top: 30px;
  background-color: #111111;
  z-index: 2000;
}

#loadingBarBase {
  width: 100%;
  height: 50%;
  margin-top: 10px;
  background-color: #222222;
}

#loadingBar {
  width: 50%;
  height: 100%;
  background-color: #444444;
}
